<div class="profile-card">
    <div class="profile-card__info">
        <div class="profile-card__avatar">
            <img src="/assets/images/Img.png" alt="Avatar" class="profile-card__avatar-img"/>
        </div>
        <div class="profile-card__name">
            <strong class="h6">John Doe</strong>
            <span class="subtitle">john.doe</span>
        </div>
    </div>

    <div class="profile-card__desc">
        The list of skills we discussed above is the basis of a CV, but not the only part of it. You can also tell about yourself in the classical sense - this section can be added to your cover letter.
    </div>

    <div class="profile-card__tags">
        <span class="profile-card__tag">HTML</span>
        <span class="profile-card__tag">CSS</span>
        <span class="profile-card__tag">JavaScript</span>
        <span class="profile-card__tag">React</span>
        <span class="profile-card__tag">Angular</span>
        <span class="profile-card__tag">Vue</span>
    </div>

    <div class="profile-card__actions">
        <button class="profile-card__action btn">Message</button>
    </div>
</div>