:host{
    display: grid;
    gap: 48px;
    grid-template-columns: 320px 1fr;
    padding: 24px;
}

.profile-form__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
    border: 1px solid var(--light-color);
    background: var(--dark-color);
    height: calc(100vh - (24px * 4));
}

.profile-form{
    padding: 32px;
    border: 1px solid var(--light-color);
    background: var(--dark-color);
    display: grid;
    gap: 20px;
}

.two-columns{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}
